.recoSection {
  min-width: 100%;

  .heading {
    width: 100%;
    justify-content: space-between;

    h1 {
      font-size: var(--h2FontSize);
      color: var(--blackColor);
      font-weight: 700;

    }
  }

  .secContainer {
    width: 100%;
    margin: 1rem 0;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    .singleItem {
      position: relative;
      width: 225px;
      height: 250px;
      display: flex;
      flex-direction: column;
      padding: 0.8rem;
      border-radius: 10px;
      transition: 0.3s ease;

      &:hover {
        background: var(--itemCardHover);
        box-shadow: 0 2px 2px var(--inputColor);
        transform: translateY(-3px);
      }

      img {
        border-radius: 0.25rem;
        object-fit: cover;
        width: 200px;
        height: 200px;
      }

      h3 {
        margin-top: -8px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: var(--normalFontSize);
        color: var(--blackColor);
        padding: 1rem 0;
      }
    }
  }
}

@media screen and (max-width: 918px) {
  .recoSection {
    .singleItem {
      width: 200px !important;
    }
  }
}
