@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "style/font.css";
@import "style/light.css";
/* @import "dark.css"; */

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{overflow: hidden;}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--blackColor);
}

li {
  list-style: none;
}

img,
video {
  height: auto;
  width: 100%;
}

.message {
  display: none;
}

.showMessage {
  display: block;
  color: var(--blackColor);
  background: rgb(255, 0, 0);
  border-radius: 3px;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  color: var(--greyText);
}

.btn:hover {
  color: var(--hoverColor);
  background-color: var(--primarySecondColor);
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

.btn .icon {
  margin-left: 0.5rem;
}
