.homePage {
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;

  .container {
    position: relative;
    width: 95vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      var(--bgColor),
      var(--whiteColor),
      var(--bgColor)
    );
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px var(--greyText);

    .shopContent {
      width: 82%;
      height: 100%;
      padding: 2rem;
      overflow: auto;

      .bottom {
        margin-top: 2rem;
        gap: 2rem;
        align-items: flex-start;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

@media screen and (max-width: 918px) {
  .bottom {
    flex-direction: column;
  }
}

@media screen and (max-width: 918px) {
  .heading {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
