.activitySection {
    flex-basis: 50%;
  
    .heading {
      width: 100%;
      justify-content: space-between;
  
      h1 {
        font-size: var(--h2FontSize);
        color: var(--blackColor);
        font-weight: 700;
      }
  
      .icon {
        transition: 0.2s ease;
      }
  
      .btn {
        border: 1px solid transparent;
  
        &:hover {
          border: 1px solid var(--primaryColor);
  
          .icon {
            transform: translateX(3px);
            transition: 0.3s ease;
          }
        }
      }
    }
  
    .secContainer {
      margin-top: 1rem;
  
      .singleCustomer {
        align-items: flex-start;
        justify-content: space-between;
  
        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          box-shadow: 0 2px var(--itemCardColor);
          margin-right: 1rem;
        }
  
        .customerDetails {
          flex: 1;
  
          .name {
            font-size: var(--h3FontSize);
            font-weight: 600;
            color: var(--blackColor);
            display: block;
          }
  
          small {
            font-weight: 500;
            color: var(--textColor);
            font-size: var(--smallFontSize);
          }
        }
  
        .duration {
          color: var(--textColor);
          font-weight: 500;
          font-size: var(--smallestFontSize);
        }
      }
    }
  }
  
  @media screen and (max-width: 918px) {
    .activitySection {
      width: 100%;
    }
  }
  