.recommendation {
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;

  .lastReco {
    .heading {
      padding: 1rem 0;

      .btn {
        padding: 0.5rem 1rem;
      }
    }

    .card {
      padding: 1rem 1.5rem;
      border-radius: 1rem;
      background: var(--whiteColor);
      gap: 1rem;
      box-shadow: 0 2px 4px var(--inputColor);

      .users {
        padding-right: 1rem;
        border-right: 2px solid var(--greyText);

        a {
          width: 40px;
          height: 40px;

          img {
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid var(--inputColor);
            transition: 0.5s ease;
          }

          p {
            font-size: var(--smallestFontSize);
            display: none;
            margin-top: -5px;
            white-space: nowrap;
          }

          &:hover {
            img {
              transform: translateY(-10px);
            }

            p {
              display: block;
            }
          }
        }
      }

      .cardText {
        span {
          color: var(--blackColor);
          font-weight: 500;

          small {
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .recommendation {
    .card {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 490px) {
  .playlistSection {
    .recommendation {
      flex-direction: column;
      .card {
        flex-direction: row;
      }
    }
  }
}
