.open {
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0.5rem 1rem 1rem 1rem;
  top: -25px;
  left: 50%;
  background-color: var(--primarySecondColor);
  color: var(--primaryColor);
  transition: 0.3s ease;
  z-index: -1;

  .chevron {
    transform: translateY(-0.4rem);
  }

  &:hover {
    color: var(--hoverColor);
  }
}

.controlsDiv {
  .player {
    input[type="range"] {
      width: 15rem;
    }

    .buttons {
      justify-content: center;
    }
  }

  .volume {
    width: 10rem;
    position: absolute;
    right: -5.5rem;
    top: 0.75rem;

    input[type="range"] {
      opacity: 0;
      width: 6rem;
      transform: translateY(-7px);
      transition: .5s cubic-bezier(1, 0.25, 1);
    }

    .btn {
      top: 5px;
      left: 17px;
      scale: 0.6;
    }

    &:hover {
      right: 1rem;

      input[type="range"] {
        opacity: 1;
        transition: .2s;
      }
    }
  }
}

.btn {
  scale: 0.75;
}
