.open{
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0.5rem 1rem 1rem 1rem;
  top: -25px;
  left: 50%;
  background-color: var(--primarySecondColor);
  color: var(--primaryColor);
  transition: .3s ease;
  z-index: -1;

  .chevron{
    transform: translateY(-.4rem);
  }

  &:hover{
    color: var(--hoverColor);
  }
}

.controlsDiv {
  .player {
    input[type="range"] {
      width: 15rem;
    }

    .buttons {
      justify-content: center;
    }
  }

  .volume {
    input[type="range"] {
      position: absolute;
      width: 5rem;
      top: 100px;
      left: 4px;
      transform: rotate(-90deg);
    }
    .btn {
      position: absolute;
      top: 5px;
      left: 17px;
      scale: 0.6;
    }
  }
}

.btn {
  scale: 0.75;
}
