.display {
  position: absolute;
  top: -4px;
  left: 2vw;
  width: 20rem;

  padding: 0.8rem 1rem;

  .trackInfo {
    justify-content: center;
    gap: 1rem;

    .trackCover {
      img {
        border-radius: 0.5rem;
        width: 4rem;
        height: 4rem;
        object-fit: cover;
      }

      .audioIcon {
        margin: auto;
        width: 3rem;
        height: 3rem;
      }
    }

    .text {
      margin-left: 2rem;
      font-size: var(--normalFontSize);
      width: 15rem;

      .title {
        font-size: var(--h2FontSize);
        color: black;
        font-weight: 500;
        white-space: nowrap;

        &:hover{
          text-decoration: underline;
        }
      }

      .tags {
        p {
          white-space: nowrap;
          font-weight: 600;
          border: var(--primaryColor) 1px solid;
          color: var(--primaryColor);
          font-size: var(--smallestFontSize);
          text-align: center;
          margin: 0.25vw 0.5vw 0 0;
          border-radius: 1vw;
          padding: 0.25vw 0.5vw;
        }
      }
    }
  }
}
