.myPlaylistSection {
  flex-basis: 70%;
  .heading {
    width: 100%;
    justify-content: space-between;

    h1 {
      font-size: var(--h2FontSize);
      color: var(--blackColor);
      font-weight: 700;
    }

    .icon {
      transition: 0.2s ease;
    }

    .btn {
      border: 1px solid transparent;

      &:hover {
        border: 1px solid var(--primaryColor);

        .icon {
          transform: translateX(3px);
          transition: 0.3s ease;
        }
      }
    }
  }

  .secContainer {
    width: 100%;
    margin: 1rem 0;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;

    .singleItem {
      position: relative;
      width: 180px;
      height: 200px;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border-radius: 10px;
      background: var(--itemCardColor);
      transition: 0.3s ease;

      &:hover {
        background: var(--itemCardHover);
        box-shadow: 0 2px 2px var(--inputColor);
        transform: translateY(-3px);
      }

      img {
        border-radius: 0.25rem;
        width: 150px;
        height: 150px;
      }

      h3 {
        margin-top: -8px;
        overflow: visible;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: var(--normalFontSize);
        color: var(--blackColor);
        padding: 1rem 0;
      }
    }
  }
}
